.CustomDatePickerWithIcon {
  display: flex;
  flex-direction: row;
  min-height: 36px;
}
.CustomDatePickerWithIcon .icon-container {
  align-items: center;
  border: 1px solid #DADADA;
  border-radius: 4px 0 0 4px;
  color: #D8D8D8;
  display: flex;
  justify-content: center;
  width: 40px;
}
.CustomDatePickerWithIcon.alert .icon-container {
  background: #cc9f9f;
  border-color: #cc9f9f;
  color: #ffffff;
}
.CustomDatePickerWithIcon.mark .icon-container {
  color: #75ab98;
}
.CustomDatePickerWithIcon .icon-container.larger {
  font-size: 24px;
}
.CustomDatePickerWithIcon .datepicker-container,
.CustomDatePickerWithIcon .datepicker-container .react-datepicker-wrapper {
  display: flex;
  flex: 1;
}
.CustomDatePickerWithIcon .datepicker-container > div {
  display: flex;
  flex: 1;
}
.CustomDatePickerWithIcon .datepicker-container .react-datepicker__input-container {
  display: flex;
  flex: 1;
}
.CustomDatePickerWithIcon .datepicker-container .react-datepicker__input-container input {
  border: 1px solid #DADADA;
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
  color: #999;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  flex: 1;
  padding: 0 10px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
}
.CustomDatePickerWithIcon.alert .datepicker-container .react-datepicker__input-container input {
  border-color: #cc9f9f;
}
.CustomDatePickerWithIcon .react-datepicker-popper {
  z-index: 1;
}
