#BulkDropdown {
  min-width: 150px;
  z-index: 15
}
#BulkDropdown .Select-value-label,
#BulkDropdown .BulkDropdown .has-value.Select--single > .Select-control .Select-value .Select-value-label,
#BulkDropdown .BulkDropdown .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #aaa;
  font-weight: normal;
}