.Switch label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.Switch label input[type=checkbox] {
  display: none;
}
.Switch label input[type=checkbox] + div {
  background-color: #FFF;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  height: 21px;
  margin: 0 9px 0 0;
  position: relative;
  transition: background-color 0.1s ease 0.02s;
  width: 46px;
}
.Switch label input[type=checkbox]:checked + div {
  background-color: #1875F0;
  border-color: #1875F0;
  transition: background-color 0.1s ease 0.02s;
}
.Switch label input[type=checkbox] + div:before {
  background: #e5e5e5;
  border-radius: 13px;
  color: #e5e5e5;
  content: '';
  height: 13px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 13px;
  transition: all 0.4s ease 0.05s;
  transition-property: left, background;
  z-index: 10;
}
.Switch label input[type=checkbox]:checked + div:before {
  background: #FFF;
  color: #FFF;
  content: '';
  left: 25px;
}
.Switch label input[type=checkbox] + div:after {
  background: transparent;
  color: #999;
  content: attr(data-content-after);
  left: 20px;
  position: absolute;
  top: -5px;
  z-index: 0;
  transition: all 0.4s ease;
  transition-property: left;
}
.Switch label input[type=checkbox]:checked + div:after {
  color: #FFF;
  content: attr(data-content-before);
  left: 6px;
}
