.WalkModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    max-width: 980px;
}

.WalkModal .left {
    background: rgb(19, 77, 119);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 20px;
    min-width: 370px;
}

.WalkModal .right {
    display: flex;
    width: 600px;
}