#WalkModal {
  background: #FFF;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
#WalkModal .header-container {
  background-color: #F4F4F4;
  background: rgb(19, 77, 119);
  border-radius: 12px 12px 0 0;
  /*color: #3E3E3E;*/
  color: #FFF;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  line-height: 30px;
  padding: 0;
  position: relative;
  width: 100%;
}
#WalkModal .header-container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  align-items: stretch;
  flex: 1;
  padding: 0 !important;
}
#WalkModal .header-container .header .appointment-details-container {
  flex: 1;
}
#WalkModal .header-container .header .appointment-details-container .appointment-details {
  padding-left: 16px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
#WalkModal .header-container .close-modal-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}
#WalkModal .header-container .close-modal-container .close-modal {
  background-color: transparent;
  position: absolute;
  right: 14px;
  bottom: 9;
  top: 0;
  color: #FFF;
  height: 100%;
}
#WalkModal .details-header {
  align-items: center;
  background-color: #FFFFFF;
  height: 45px;
  position: relative;
  border-bottom: 1px solid #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 18px;
}
#WalkModal .details-header .details-button {
  margin-right: 18px;
  height: 100%;
  position: relative;
  top: 1px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #808080;
  background: transparent;
}
#WalkModal .details-header .details-button.active {
  border-bottom: 1px solid #1875F0;
  color: #1875F0;
}
