.RadioInput {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 4px;
}
.RadioInput.parent {
  margin-bottom: 5px;
}
.RadioInput.child {
  padding-left: 30px;
}
.RadioInput .Help {
  margin-left: 5px;
}
.RadioInput [type="radio"] {
  border: 1px solid red;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: none;
}
/* the basic, unchecked style */
.RadioInput [type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.25em solid #fff;
  box-shadow: 0 0 0 2px #999999;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}
/* the checked style using the :checked pseudo class */
.RadioInput [type="radio"]:checked + span:before {
  background-color: #1875F0;
  box-shadow: 0 0 0 2px #1875f0;
}
/* never forget focus styling */
.RadioInput [type="radio"]:focus + span:after {
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}
.RadioInput label {
  display: flex;
  cursor: pointer;
}
