.Help {
    align-items: center;
    background-color: #dadada;
    border-radius: 13px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 8px;
    height: 13px;
    justify-content: center;
    text-align: center;
    width: 13px;
  }
  .Help .ion-help {
    font-size: 8px;
    line-height: 8px;
    display: block;
    margin: auto;
  }
  .Help .custom-tooltip {
    font-size: 11px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 200px;
  }
  .Help.top .custom-tooltip {
    margin-top: -6px;
  }