.pagination {
  list-style: none;
  display: flex;
  justify-content: left ;
  padding: 10px;
}
.pagination > li {
  margin-right: 0.3em;
  color: #dddddd;
  user-select: none;
  cursor: pointer;
  padding: 10px;
}
.pagination > li.active {
  color: #1875F0;
}
.pagination > li.disabled {
  cursor: not-allowed;
}
