.CostSummaryContainer {
}
.CostSummary {

  border-radius: 4px;
  color: #808080;
  font-size: 13px;

}
.CostSummary .scanned-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.CostSummary .scanned-wrapper .CostSummary-scanned-details {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.CostSummary .scanned-wrapper .CostSummary-scanned-details .scanned-in-out {
  display: flex;
  flex-direction: row;
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.CostSummary .scanned-wrapper .CostSummary-scanned-details .scanned-in-out .text {
  display: flex;
  align-items: center;
}
.CostSummary .scanned-wrapper .CostSummary-scanned-details .scanned-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 5px;
}
.CostSummary .scanned-wrapper .CostSummary-scanned-details .scanned-in-out .scanned-container .icon {
  font-size: 18px;
  margin-right: 10px;
}
.CostSummary .CostSummary-container .CostSummary-scanned-details .scanned-in-out .scanned-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.CostSummary .scanned-container .CostSummary-scanned-details .scanned-in-out .scanned {
  margin-left: auto;
  color: #808080;
}
.CostSummary .CostSummary-container {
  display: flex;
  flex-direction: row;
  padding-top: 120px;
}
.CostSummary .CostSummary-container .CostSummary-column-one {
  color: #666666;
  font-weight: 400;
  flex: 1;
}
.CostSummary .CostSummary-container .CostSummary-column-two {
  color: #808080;
  display: flex;
  flex: 2;
  padding: 0;
  flex-direction: column;
}
.CostSummary .CostSummary-container .CostSummary-column-two .CostSummary-scanned-details {
  padding: 0 0 20px;
}
.CostSummary .CostSummary-container .CostSummary-column-two .CostSummary-info-cost {
  padding: 0 0 20px;
}
.CostSummary .CostSummary-container .CostSummary-column-two .CostSummary-info-cost > div {
  text-align: right;
}
.CostSummary .CostSummary-container .CostSummary-column-two .CostSummary-info-cost .addon-cost {
  padding-top: 6px;
}
.CostSummary .CostSummary-container .CostSummary-column-two .CostSummary-total-cost {
  font-weight: 500;
  text-align: right;
  padding-top: 8px;
}
