.CreditCardInput {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  width: 100%;
}
.CreditCardInput.validCard .card-icon {
  align-items: center;
  border: 1px solid #DADADA;
  border-bottom-left-radius: 5px;
  border-right: none;
  border-top-left-radius: 5px;
  display: flex;
  height: 32px;
  justify-content: center;
  padding-left: 5px;
}
.CreditCardInput.validCard .card-icon img {
  width: 20px;
}
.CreditCardInput.validCard .TextInput.type-2 .input-section .input-wrapper {
  border-bottom-left-radius: 0;
  border-left: none;
  border-top-left-radius: 0;
}
