.PercentInput {
    align-items: stretch;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    width: 100%;
}

.PercentInput .TextInput .input-section .input-wrapper {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 18px;
}

.PercentInput .percent-icon {
    align-items: center;
    border: 1px solid #DADADA;
    border-radius: 4px 0 0 4px;
    border-right: none;
    color: #DADADA;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 40px;
    min-width: 40px;
    background: #fff;
}

.PercentInput:focus-within .percent-icon,
.PercentInput:focus-within .TextInput .input-section .input-wrapper {
    border-color: #aeaeae;
}

.PercentInput .TextInput.type-2 .input-section .input-wrapper {
    border-bottom-left-radius: 0;
    border-left: none;
    border-top-left-radius: 0;
}

.PercentInput.error .percent-icon {
    border-color: #c7011a;
}